html
body
div[id='index']
	height: 100%

div[id='index']
	display: flex
	flex-direction: row
	justify-content: center

body
	margin: 0

.mainApp
	font-family: 'nunito sans', Helvetica, sans-serif
	display: flex
	flex: 1
	flex-direction: column
	align-items: center
	max-width: 1000px
	padding-top: 50px
	padding-left: 20px
	padding-right: 20px

.mainAppHeader
	text-align: center
	margin-bottom: 30px

.activityListContainer
	padding-top: 20px
	padding-bottom: 20px

.activityContainer
	padding-bottom: 10px
	display: flex
	flex-direction: row
	justify-content: flex-start
	align-items: center

.activityContent
	font-size: 20px

.linkListContainer
	padding-top: 20px

.linkContainer
	background-color: yellow
	padding: 5px
	margin-bottom: 5px
